################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.ionide
*/**/bin
*/**/obj
**/packages
*/**/*.csproj.user
*/**/*.fsproj.user
TestResults
*/**/BenchmarkDotNet.Artifacts
**/*.DotSettings.user
