
name: Release Drafter

on:
  push:
    branches:
      - 'support/4.x'
  workflow_dispatch:

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0    
      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0.9.10
        with:
          versionSpec: '5.x'
      - name: Determine Version
        id:   gitversion
        uses: gittools/actions/gitversion/execute@v0.9.10
      # Drafts your next Release notes as Pull Requests are merged into "feature/support4.x"
      - uses: release-drafter/release-drafter@v5
        with:
          name: v${{ steps.gitversion.outputs.semVer }}
          tag: v${{ steps.gitversion.outputs.semVer }}
          version: v${{ steps.gitversion.outputs.semVer }}                 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
